# {{ ansible_managed }}

[Unit]
Description=Mattermost
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
ExecStart=/opt/mattermost/bin/platform
Restart=always
RestartSec=10
WorkingDirectory=/opt/mattermost
User={{ mattermost_user }}
Group={{ mattermost_group }}
LimitNOFILE=49152

[Install]
WantedBy=postgresql.service
